@media (max-width: 1580px) {
  .header {
    &__slider::after {
      margin-right: 40px;
    }
  }
}
@media (max-width: 1470px) {
  .excursion {
    box-shadow: none;
  }
}

@media (max-width: 1420px) {
  .header {
    &__slider-text {
      max-width: 320px;
    }
  }
}
@media (max-width: 1410px) {
  .header {
    &-top__nav,
    &-bottom {
      margin-left: 40px;
    }
  }
  .benefits__item-img-1 {
    margin-right: 0;
    padding-right: 15px;
  }
}
@media (max-width: 1340px) {
  .header {
    &-top__nav,
    &-bottom {
      margin-left: 60px;
    }
  }
}
@media (max-width: 1305px) {
  .header {
    &__slider {
      height: 599px;
      &::after {
        height: 683px;
      }
    }
    &__slider-img {
      max-width: 915px;
    }
    &-top__nav,
    &-bottom-background {
      max-width: 830px;
    }
    &-top__nav-logo {
      margin-right: 30px;
    }
    &-bottom__nav-item {
      margin-right: 47px;
    }
  }
  .footer {
    &__services {
      margin-right: 60px;
    }
    &__portfolio,
    &__info {
      margin-right: 80px;
    }
  }
}
@media (max-width: 1275px) {
  .contacts {
    &__information {
      margin-right: 40px;
    }
    &__socials {
      margin-right: 50px;
    }
  }
}
@media (max-width: 1260px) {
  .header {
    &__slider {
      height: 563px;
      &::after {
        height: 645px;
      }
    }
    &__slider-img {
      max-width: 860px;
    }
    &__slider-text {
      max-width: 280px;
      font-size: 14px;
    }
    &__slider-title {
      font-size: 40px;
    }
    &-top__nav {
      max-width: 780px;
    }
    &-top__instagram {
      margin-left: 137px;
    }
    &-bottom-background {
      max-width: 780px;
    }
    &-bottom__nav {
      padding-left: 80px;
    }
    &-bottom__nav-item {
      margin-right: 37px;
    }
  }
}
@media (max-width: 1210px) {
  .slider__counter {
    right: 50px;
    font-size: 45px;
  }
  .slider__arrow {
    height: 40px;
    width: 40px;
  }
  .slider__btn-img {
    padding-left: 8px;
  }
  .slider__btn-right {
    right: 110px;
  }
  .slider__btn-left {
    right: 155px;
  }
}
@media (max-width: 1180px) {
  .contacts {
    &-inner {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__information {
      padding-left: 25px;
    }
    &__information-box {
      display: inline-block;
    }
    &__map {
      margin-top: 50px;
      width: 630px;
      height: 450px;
      margin: 0 auto;
    }
    &__socials {
      justify-content: flex-start;
    }
    &__socials-list {
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 1160px) {
  .header {
    &__slider {
      height: 524px;
      &::after {
        height: 610px;
      }
    }
    &__slider-img {
      max-width: 800px;
    }
    &-top__nav,
    &-bottom-background {
      max-width: 710px;
    }
    &-top__instagram {
      margin-left: 117px;
    }
    &__slider-text {
      max-width: 200px;
      font-size: 12px;
    }
  }
  .menu__list-item:not(:last-child) {
    margin-right: 23px;
  }
  .footer {
    &__portfolio {
      margin-right: 30px;
    }
    &__info {
      margin-right: 40px;
    }
  }
  .benefits {
    &__item:first-child {
      padding-left: 45px;
    }
    &__item-img-2 {
      margin-right: 20px;
    }
  }
  .excursion {
    &__slider {
      padding-left: 35px;
    }
  }
  .consultation {
    &-inner {
      margin-right: 0;
      padding-left: 25px;
    }
    &__content {
      margin-right: 90px;
    }
    &__content-title,
    &__content-text {
      margin-right: 0;
    }
    &__content-title {
      font-size: 24px;
      line-height: 36px;
    }
    &__content-text {
      font-size: 13px;
    }
  }
  .form {
    &-box {
      margin-right: 25px;
    }
  }
}
@media (max-width: 1160px) {
  .benefits {
    &__item:first-child {
      padding-left: 15px;
    }
    &__item-content-first {
      margin-right: 40px;
    }
    &__item-img-2 {
      margin-right: 20px;
    }
  }
}
@media (max-width: 1024px) {
  .header {
    &__slider {
      height: 478px;
      &::after {
        height: 560px;
      }
    }
    &__slider-img {
      max-width: 730px;
    }
    &__slider-title {
      font-size: 35px;
      max-width: 600px;
      top: 70px;
    }
    &-top__nav,
    &-bottom-background {
      max-width: 650px;
    }
    &-top__instagram {
      margin-left: 107px;
    }
    &-bottom__nav-link {
      font-size: 10px;
    }
  }
  .menu__list-link {
    font-size: 10px;
  }
  .benefits {
    &-inner {
      padding-top: 85px;
      padding-bottom: 40px;
    }
    &__item:first-child {
      margin-bottom: 100px;
    }
    &__item {
      align-items: center;
    }
    &__item-content {
      max-width: 700px;
      margin-bottom: 69px;
    }
    &__item-text {
      font-size: 18px;
      line-height: 30px;
    }
    &__item-title {
      padding-top: 0;
    }
    &__item-first {
      flex-direction: column;
    }
    &__item-second {
      flex-direction: column-reverse;
    }
    &__item-images {
      margin-right: 50px;
    }
    &__item-img {
      &-1 {
        width: 90%;
        height: 90%;
        object-fit: contain;
      }
      &-2 {
        margin: auto 15px auto 0;
      }
      &-2,
      &-3 {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__item__list {
      justify-content: space-between;
    }
    &__item__list-item {
      min-width: 220px;
      margin-right: 0;
    }
    &__item__list-img {
      float: left;
      margin-right: 10px;
    }
  }
  .excursion {
    &__slider {
      width: 450px;
    }
    &__slider-item {
      font-size: 24px;
      line-height: 32px;
    }
  }
}
@media (max-width: 970px) {
  .slider__counter {
    display: none;
  }
  .slider__btn-right {
    right: 50px;
  }
  .slider__btn-left {
    right: 95px;
  }
  .header__slider-title {
    right: 110px;
  }
  .header__slider-text {
    left: 70px;
    max-width: 328px;
    font-size: 14px;
    top: 210px;
  }
  .services__item-img {
    height: 470px;
  }
  .services__item-text {
    font-size: 18px;
    max-width: 150px;
    left: 10px;
  }
  .footer {
    &__services-title-link,
    &__portfolio-title-link,
    &__info-link {
      font-size: 16px;
    }
    &__services-link,
    &__portfolio-link {
      font-size: 12px;
    }
    &__contact-box {
      font-size: 14px;
    }
  }
}
@media (max-width: 930px) {
  .services__item-text {
    font-size: 17px;
    max-width: 100px;
  }
}
@media (max-width: 900px) {
  .services__item-img {
    height: 450px;
  }
  .services__item-text {
    font-size: 16px;
    max-width: 150px;
  }
  .footer {
    &__services {
      margin-bottom: 25px;
      margin-right: 20px;
    }
    &__portfolio {
      margin-right: 20px;
    }
    &__info {
      margin-right: 20px;
    }
  }
}
@media (max-width: 860px) {
  .header__arrow {
    top: 20px;
  }
  .header__slider::after {
    margin-right: 10px;
    visibility: visible;
  }
}
@media (max-width: 840px) {
  .excursion {
    &__slider {
      width: 370px;
    }
    &__slider-item {
      font-size: 22px;
      line-height: 32px;
    }
  }
  .contacts {
    &-inner {
      padding-top: 105px;
      margin-bottom: 0;
    }
    &__information {
      padding-left: 10px;
    }
    &__information-box {
      display: block;
      &:nth-child(2) {
        margin-bottom: 25px;
      }
    }
    &__information-title {
      margin-bottom: 28px;
      font-size: 35px;
      line-height: 38px;
    }
    &__socials {
      margin-bottom: 34px;
    }
  }
  .consultation {
    &__content {
      margin-right: 56px;
      width: 350px;
    }
  }
}
@media (max-width: 800px) {
  .header__slider::after {
    visibility: hidden;
  }
  .header__slider-item {
    margin-left: 30px;
  }
}
@media (max-width: 780px) {
  .header__slider-item {
    margin-left: 20px;
  }
  .services__item-img {
    height: 400px;
  }
  .services__item-text {
    font-size: 14px;
    max-width: 100px;
    left: 15px;
  }
}

@media (max-width: 768px) {
  .header__arrow {
    display: none !important;
  }
  .header-bottom,
  .header-top__instagram,
  .menu {
    display: none;
  }
  .header-top__nav-tel {
    display: block;
  }
  .burger-menu {
    background-image: url("../images/icon/menu.svg");
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: column;
    margin-right: 30px;
    margin-left: 30px;
    width: 25px;
    height: 17px;
    cursor: pointer;
    &.burger-menu-active {
      background-image: url("../images/icon/close.svg");
    }
  }
  .header__slider-img {
    min-height: 656px;
    min-width: 100%;
    object-fit: cover;
    margin: 0;
  }
  .header__slider {
    height: 656px;
    margin-right: 0;
  }
  .header__slider-item {
    margin-left: 0;
  }
  .header__slider-text {
    font-size: 14px;
    max-width: 600px;
    left: 167px;
    top: 248px;
  }
  .header__slider-title {
    width: 540px;
    top: 100px;
    left: 80px;
  }
  .header__slider-btn {
    bottom: 230px;
    left: 167px;
  }
  .header-top__nav {
    max-width: 100%;
    margin: 0 !important;
    height: 53px;
  }
  .header-top__nav-logo-img {
    margin: 0;
    width: 72px;
    height: 36px;
  }
  .header__container {
    padding: 0;
  }
  .right-menu {
    &.right-menu-active {
      transform: translateX(0px);
    }
  }
  .excursion-inner,
  .consultation-inner {
    flex-direction: column;
    align-items: center;
    padding-top: 76px;
  }
  .consultation-inner {
    padding-left: 0;
  }
  .excursion__slider,
  .consultation__content {
    width: 500px;
    padding-top: 0;
    padding-left: 10px;
    padding-bottom: 80px;
    margin: 0 auto;
  }
  .consultation__content-text,
  .consultation__content-title {
    width: 500px;
  }
  .excursion__slider-item {
    font-size: 28px;
    line-height: 38px;
    padding-bottom: 80px;
  }
  .excursion__form {
    margin: 0 auto;
  }
}
.footer {
  &__services-list,
  &__portfolio-list {
    display: none;
  }
  &-top {
    margin-bottom: 39px;
  }
  &-top-inner {
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 25px;
  }
  &__services,
  &__services-title,
  &__portfolio-title {
    padding: 0;
    margin: 0;
  }
  &__services,
  &__portfolio {
    margin-bottom: 16px;
  }
  &__contact {
    padding-top: 30px;
    margin-right: 12px;
  }
  &-bottom {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 25px;
    align-items: flex-start;
  }
  &-bottom__copyright-box {
    display: flex;
    flex-direction: column;
  }
  &-bottom__privacy-box {
    display: flex;
  }
  &-bottom__privacy-policy,
  &-bottom__agreement {
    margin-bottom: 22px;
  }
  &__info-list {
    margin-bottom: 45px;
  }
  &__contact-address {
    white-space: normal;
  }
}
@media (max-width: 670px) {
  .benefits {
    &__item-text {
      font-size: 16px;
      line-height: 26px;
    }
    &__item-title {
      font-size: 36px;
    }
    &__item-img {
      &-2 {
        margin: auto 15px auto -10%;
      }
      &-3 {
        width: 347px;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
@media (max-width: 660px) {
  .contacts {
    &__map {
      height: 377px;
      border-radius: 0;
      margin: 0 -15px;
    }
  }
}
@media (max-width: 650px) {
  .header__slider-text {
    max-width: 600px;
    left: 100px;
  }
  .header__slider-title {
    max-width: 440px;
    left: 40px;
    font-size: 28px;
    line-height: 38px;
  }
  .header__slider-btn {
    left: 100px;
  }
  .header__popup-play {
    bottom: 90px;
    left: 120px;
  }
  .services-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .services__item-img {
    height: 320px;
  }
  .services__item-text {
    font-size: 18px;
    max-width: 120px;
    left: 15px;
  }
}
@media (max-width: 570px) {
  .contacts {
    &__socials {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      margin-right: 50px;
    }
    &__socials-list {
      flex-direction: column;
      margin-top: 35px;
      align-items: stretch;
    }
    &__socials-btn {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        background-image: url("../images/icon/instagram-arrow.svg");
        object-fit: cover;
        transform: scaleX(-1);
        width: 34px;
        height: 35px;
        top: 10px;
        left: -30px;
      }
    }
  }
}
@media (max-width: 533px) {
  .header__slider-text {
    left: 50px;
    max-width: 300px;
  }
  .header__slider-title {
    max-width: 350px;
    left: 10px;
  }
  .header__slider-btn {
    left: 50px;
  }
  .header__popup-play {
    left: 80px;
  }
  .header-top__nav {
    height: 53px;
  }
  .benefits {
    &__item:first-child {
      margin-bottom: 100px;
      padding-left: 0;
    }
    &__item-content {
      margin-right: 0;
    }
    &__item-text {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 46px;
    }
    &__item-title {
      font-size: 28px;
      line-height: 38px;
    }
    &__item-img {
      &-1 {
        padding: 0;
        width: 120%;
        margin-right: -30px;
        margin-left: -30px;
      }
      &-2 {
        margin: auto 15px auto -20%;
      }
      &-3 {
        margin-right: -20%;
      }
    }
    &__item__list-item {
      min-width: 100px;
      &:first-child {
        margin-right: 20px;
        padding-left: 10px;
      }
    }
    &__item__list-img {
      float: none;
      margin-right: 10px;
    }
  }
  .excursion {
    &__slider {
      width: 390px;
    }
    &__slider-item {
      margin-bottom: 100px;
      font-size: 24px;
      line-height: 30px;
    }
  }
  .footer__contact-address {
    padding-bottom: 22px;
  }
}
@media (max-width: 460px) {
  .benefits {
    &__item-img {
      &-2 {
        margin: auto 15px auto -30%;
      }
      &-3 {
        margin-right: -30%;
      }
    }
  }
  .contacts {
    &__map {
      height: 269px;
    }
  }
}
@media (max-width: 430px) {
  .header__slider-title {
    left: 18px;
    text-align: start;
  }
  .header__popup-play {
    left: 40px;
  }
  .header__slider-text,
  .header__slider-btn {
    left: 18px;
  }
  .services-title {
    font-size: 35px;
    margin-bottom: 30px;
    padding-top: 40px;
  }
  .services-list {
    grid-column-gap: 11px;
    grid-row-gap: 11px;
  }
  .services__item-img {
    height: 240px;
  }
  .services__item-text {
    font-size: 15px;
    left: 7px;
  }
  .benefits {
    &__item-img {
      &-2 {
        margin: auto 15px auto -40%;
      }
      &-3 {
        margin-right: -30%;
      }
    }
  }
  .excursion {
    &__slider {
      width: 300px;
      padding-left: 0;
      // margin-left: 0px;
    }
    &__slider-item {
      margin-bottom: 100px;
      font-size: 22px;
      line-height: 28px;
    }
    &__dots {
      button {
        width: 50px;
      }
    }
  }
  .consultation {
    &__content,
    &__content-title,
    &__content-text {
      width: 290px;
    }
  }
  .form {
    &-title {
      font-size: 20px;
    }
  }
  .footer {
    &-bottom__privacy-box {
      display: flex;
      flex-direction: column;
    }
    &__contact-box a,
    &__contact-box p {
      font-size: 13px;
    }
    &__services-title-link,
    &__portfolio-title-link,
    &__info-link {
      font-size: 15px;
    }
    &__socials-item {
      margin-right: 17px;
    }
  }
}

@media (max-width: 400px) {
  .right-menu {
    &-inner {
      padding-left: 30px;
    }
    &__list-link,
    &__list-item {
      font-size: 16px;
      color: #fff;
      line-height: 20px;
    }
    &__sub-list-link {
      font-size: 12px;
      line-height: 15px;
    }
  }
}
